@import (reference) "./app/content/less/base.less";

#dance-along {
    i {
        margin-right: 5px;
    }
    
    .settings-container {
        text-align: right;
    }

    .display-container {
        width: 100%;
        text-align: center;

        &.fixed {
            position: fixed;
            left: 0;
            top: 30%;
        }

        h1 {
            font-size: 75px;
        }
    }
}
